<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <img src="../assets/20dela952.png" width="350" height="200">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <p class="description text-center">
        Esta herramienta te permite calcular el precio real de la gasolina una vez aplicado el descuento concedido por
        el
        Gobierno, siendo el descuento 20c/L.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <form [formGroup]="calculadoraForm" (ngSubmit)="calcularprecio()">
        <div class="form-group">
          <label for="dineroapagar" class="form-label">
            ¿Cuánto dinero quieres gastar?
          </label>
          <input type="number" class="form-control" id="dineroapagar" formControlName="dineroapagar" required>
          <div class="mt-2 text-danger"
            *ngIf="calculadoraForm.controls.dineroapagar.invalid && (calculadoraForm.controls.dineroapagar.dirty || calculadoraForm.controls.dineroapagar.touched)">
            <div *ngIf="calculadoraForm.controls.dineroapagar.errors.required">
              El dinero que usted desea pagar es obligatorio
            </div>
            <div *ngIf="calculadoraForm.controls.dineroapagar.errors.pattern">
              El dinero que usted desea pagar debe cumplir con el formato X.YY. Ejemplo: 4.35
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="preciogasolina" class="form-label">
            <p>Precio del litro</p>
          </label>
          <input type="text" class="form-control" id="preciogasolina" formControlName="preciogasolina" required>
          <div class="mt-2 text-danger"
            *ngIf="calculadoraForm.controls.preciogasolina.invalid && (calculadoraForm.controls.preciogasolina.dirty || calculadoraForm.controls.preciogasolina.touched)">
            <div *ngIf="calculadoraForm.controls.preciogasolina.errors.required">
              El precio de la gasolina es obligatorio
            </div>
            <div *ngIf="calculadoraForm.controls.preciogasolina.errors.pattern">
              El precio de la gasolina debe cumplir con el formato X.YY. Ejemplo: 4.35
            </div>
          </div>
        </div>
        <div class="form-group mt-3 text-center">
          <button type="submit" class="btn btn-light" [disabled]="calculadoraForm.invalid">Calcular</button>
        </div>
      </form>
      <div class="row mt-5 text-center" *ngIf="resultado">
        <div class="col-12">
          <p>Debe pedirle al trabajador de la gasolinera que le ponga <b>{{ resultado }}</b> euros de gasolina/gasoil.</p>
        </div>
      </div>
    </div>
  </div>
</div>